<?xml version="1.0" encoding="UTF-8"?>
<!-- xmlns定义默认命名空间(namespace)为http://www.springframework.org/schema/beans -->
<!-- 为该xml文档定义默认的命名空间，在该xml下使用这个命名空间下的元素可以不用加前缀 -->
<!-- xmlns:xsi、xmlns:context、xmlns:mvc定义了三个命名空间，代号为xsi、context、mvc -->
<!-- xsi已经成为了一个业界默认的用于 XSD(XML Schema Definition)文件的命名空间 -->
<!-- xsi:schemaLocation使用xsi中的元素schemaLocation -->
<!-- xsi:schemaLocation="键 值 键 值 键 值"，分别对应上面的三个命名空间 -->
<!-- "键"指代[命名空间]，"值"指代[XSD location URI](命名空间所对应的XSD文件的位置) -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd ">

	<!-- 自动扫描包，实现支持注解的IOC -->
	<context:component-scan
		base-package="org.boli.myspring.controller" />

	<!-- 默认的servlet处理器，SpringMVC不处理静态资源 -->
	<mvc:default-servlet-handler />

	<!-- 支持mvc注解驱动 -->
	<mvc:annotation-driven />


</beans>
